{% extends 'base.html.twig' %}

{% block title %} Контакти {% endblock %}
{% block body %}
    <br>
    <section class="main-content">
        <div class="row">
            <div class="span9">
                <h3>Относно Сибирско Здраве</h3>
                <p style="\&quot;text-align:" justify;\"=""><span style="\&quot;font-weight:" bold;\"=""><br></span><a href="\&quot;http://sibirskozdrave-plovdiv.com/\&quot;" target="\&quot;\&quot;">Корпорация „Сибирско здраве“</a><span style="\&quot;font-weight:" bold;\"=""><br></span> е създадена през 1996г. Предвид мащабите на Компанията в момента, може би си представяте, че тя е създадена от амбициозни, умни и преуспели в живота хора, на средна възраст. И почти ще сте прави- с малко изключение. Създателите на тази просперираща компания са двама млади, двадесетгодишни предприемачи, решили твърдо да покажат на света руски перспективни научни разработки, в областта на човешкото здраве. И така, Евгени Воликов на 25 години, и Татяна Горховска на 22 години доказват как с постоянство и упоритост, следвайки целта си, само 5 години след основаване на Корпорацията, асортиментът на предлаганите хранителни добавки нарастнал от три скромни продукта, до над 300 иновационни продукта за здраве и хармония. Голяма част от продуктите и до днес са лидери на пазара. Голямото търсене на продуктите на Корпорация „Сибирско здраве“ поражда необходимостта да създаването на собствено производство. През 1999г отваря врати първият производствен комплекс на Корпорацията. Две години по-късно, през 2001г., бе създаден и собствен Научно-иновационен център, обединяващ в едно всички научни партньори. Това позволява с този &nbsp;научен обем да се създадат напълно уникални рецепти и продукти, които през 2007г получават първите патенти. Появата в асортимента на Корпорация ”Сибирско здраве” на собствени уникални и патентовани продукти на основата на диворастящи сибирски треви , дава възможност на компанията да излезе на международния пазар с конкурентни предложения, каквито до този момент не са предлагали други руски компании. От 2004 година започва активно напредване на марката на Компанията на международния пазар.<br></p>
                <br>
                <p style="\&quot;text-align:" justify;\"="">Най–важното в 20-годишната история на Корпорация „Сибирско здраве”- това е Историята на партньорските Успехи.</p>
                <br>
                <p style="\&quot;text-align:" justify;\"="">Хиляди обикновенни хора, благодарение на своя упорит труд са постигнали Успех, независимост от възраст, пол, образование. Получават възможност за стабилни ежемесечни доходи, възможност да реализират своите най-смели мечти, да пътешестват в най-красивите места на света, понякога, за първи път в живота си.</p>
                <br>
                <p style="\&quot;text-align:" justify;\"=""><span style="\&quot;font-weight:" bold;\"="">За Корпорация \"Сибирско здраве\"&nbsp;</span></p>
                <br>
                <p style="\&quot;text-align:" justify;\"="">Нашият основен приоритет е здравето на човека!<br></p>
                <br>
                <p style="\&quot;text-align:" justify;\"="">Корпорация „Сибирско здраве” е основана през 1996 година в Новосибирск. През всичките тези години ние активно разработваме и пускаме на пазара широка линия патентовани хранителни добавки както и натурална козметика.</p>
                <br>
                <p style="\&quot;text-align:" justify;\"=""><span style="\&quot;font-weight:" bold;\"="">Научно-иновационен център</span></p>
                <br>
                <p style="\&quot;text-align:" justify;\"="">Научно-иновационният център е крупно обединение, което се занимава с медико-биологични изследвания, разработване на оздравителни програми и производство на нови препарати за реализация на тези програми.Научно-иновационният център е разположен в академичното градче на Новосибирск. Това дава уникална възможност да се развива плодотворно сътрудничество с водещи научно-изследователски учреждения от световно известното научно средище и да се създават най-прогресивни и уникални продукти за здравето.<br></p>
                <br>
                <p style="\&quot;text-align:" justify;\"=""><span style="\&quot;font-weight:" bold;\"="">Наука</span><br></p>
                <br>
                <p style="\&quot;text-align:" justify;\"="">Известният руски учен Иля Мечников е създал теорията на стареенето, което е определял като \"замърсяване\" на обкръжаващите клетката структури: с възрастта процесът на извеждане на ненужните вещества от околоклетъчното пространство изостава от проникването им там. Лина Штерн откри бариерната функция на околоклетъчните тъкани, а по-късно академик Влаил Казначеев разви тази мисъл, като изведи идеята за тяхната митническа функция. Тези открития и други теоретични предпоставки позволиха да се създадат основите на ендоекологията.<br></p>
                <br>
                <p style="\&quot;text-align:" justify;\"=""><span style="\&quot;font-weight:" bold;\"="">Производство</span><br></p>
                <br>
                <p style="\&quot;text-align:" justify;\"="">Пълноценната дейност на Научно-иновационният център на Корпорация „Сибирско здраве” би била невъзможна без собствено производство. Наличието на най- съвременни производствени технологии и оборудвания позволяват бързо и своевременно прилагане на руските разработки в актуални и конкурентноспособни продукти.<br></p>
                <br>
                <p style="\&quot;text-align:" justify;\"=""><span style="\&quot;font-weight:" bold;\"="">Зa продуктите \"Сибирско здраве\"</span><br></p>
                <br>
                <p style="\&quot;text-align:" justify;\"="">Продуктите на Корпорация Сибирско здраве са предназначени за комплексно прочистване на вътрешната среда на организма. Всички продукти както и начина на тяхното приемане са съобразени с биоритмите на човешкия организъм. Природните ресурси на едни от най-чистите райони в света, заедно с опита на руските учени, ни давата привилегията да получим най-доброто за нашия организъм: природни имуномодулатори и антиоксидантипродукти за корекция на мастната и въглехидратната обмяна; &nbsp;за оптимизиране на състава на микрофлората на червата; за поддържане на функционалното състояние на сърдечно-съдовата система, черния дроб, костната система и ставите; храносмилателните органи и пикочоотделителната система, органите на зрението. Комплексни програми, както и отделни продукти &nbsp;за попълване на недостига от основни незаменими витамини и микроелементи. Не на последно място- голям брой козметични продукти и средства за лична хигиена, произвеждани на основата на природни биологично активни вещества от растителен, минерален и животински произход.<br></p>
                <br>
                <p style="\&quot;text-align:" justify;\"="">Понастоящем Корпорацията произвежда над 210 оздравителни и козметични продукти.<br></p>
                <br>
                <p style="\&quot;text-align:" justify;\"="">Много от тези продукти, както и водещите автори &nbsp;на оригинални патентни разработки са отличени с общо 25 дипломи на авторитетни и престижни изложения, 3 Златни медала „За практически постижения в укрепване на здравето на нацията” на името на И.И.Мечников (лауреат на Нобелова награда), 2 почетни медала „Е. Дашкова” (известен държавен и обществен деятел на Русия), 5 златни медала от широкоизвестната в Русия изложба „Сибирски панаир”.<br></p>
                <br>
                <p style="\&quot;text-align:" justify;\"=""><span style="\&quot;font-weight:" bold;\"="">Клиничните изпитания</span> за ефективността на биологично активните хранителни добавки на Корпорацията се извършват от водещите клиники на Руската академия на науката.<br></p>


            </div>
            <div class="span3 col">
                {% embed 'template-parts/randomizer.html.twig' %} {% endembed %}
                {% embed 'template-parts/best-sellers.html.twig' %} {% endembed %}
            </div>
        </div>
        <p></p>
    </section>
{% endblock %}