<div id="addressModal" class="custom-modal">
    <!-- Modal content -->
    <div class="custom-modal-content clearfix">
        <span class="close">&times;</span>
        <form class="" id="addressForm" method="post" enctype="multipart/form-data">
            <h3 id="addressModalTitle"></h3>
            <hr>
            <h4>Лице за контакт</h4>
            <input type="hidden" name="addressId" id="userAddressId">
            <div class="clearfix">
                <div class="control-group span3">
                    <label for="userFullName">Име: </label>
                    <input id="userFullName" required type="text" name="user_address[fullName]"
                           placeholder="Вашите имена" maxlength="80">
                </div>
                <div class="control-group span3">
                    <label for="userPhone">Тел. номер: </label>
                    <input id="userPhone" required type="text" name="user_address[phoneNumber]"
                           placeholder="Тел. номер" maxlength="14">
                </div>
            </div>
            <h4>Адрес</h4>
            <div class="clearfix">
                <div class="control-group span3">
                    <label for="userTownship">Област: </label>
                    <select id="userTownship" required name="user_address[townshipId]">
                        <option disabled="" selected="" value=""> Избор </option>
                        {% for town in informator.getTownships %}
                            <option value="{{ town.id }}">{{ town.townName }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="control-group span3">
                    <label for="userTown">Населено място: </label>
                    <input id="userTown" required type="text" name="user_address[residential]"
                           placeholder="гр., село" maxlength="45">
                </div>
            </div>
            <div class="clearfix">
                <div class="span3">
                    <div class="control-group">
                        <label for="userAddress">Адрес</label>
                        <input required type="text" maxlength="99" name="user_address[address]"
                               id="userAddress">
                    </div>
                </div>
                <div class="span3">
                    <div class="control-group">
                        <label for="userPostCode">Пощенски код</label>
                        <input required type="number" name="user_address[postCode]" id="userPostCode" placeholder="за Монтана(3400)">
                    </div>
                </div>
            </div>
            <div class="clearfix">
                <div class="span3">
                    <button class="btn btn-primary" type="submit">Запази</button>
                    <button class="btn btn-primary cancel">Откажи</button>
                </div>
            </div>


        </form>
    </div>
</div>