<div class="clearfix span4">
    <form method="post" action="{{ path('change_password') }}" enctype="multipart/form-data">
        <div class="">
            <div class="form-group">
                <label for="old-password">Стара парола:</label>
                <input required="" class="form-control" id="old-password" type="password" name="user_password[oldPassword]">
            </div>
            <div class="form-group">
                <label for="new-password">Нова парола:</label>
                <input required="" class="form-control" id="new-password" type="password" name="user_password[newPassword]">
            </div>
            <div class="form-group">
                <label for="conf-password">Нова парола отново:</label>
                <input required="" class="" id="conf-password" type="password" name="user_password[confPassword]">
            </div>
            {{ form_row(changePasswordForm._token) }}
            <div class="object-right">
                <button type="submit" class="btn btn-success btn-xs">Запази »</button>
            </div>
        </div>
    </form>
</div>