{% if notis %}
    <small class="small-clean-text" onclick="window.location.replace('/user/notifications/mobile');">
        Показване на цял екран
    </small>
    <hr class="noti-separator">
    <!-- notifications  -->
    {% for noti in notis %}
       {% embed 'user-related/templates/single-notification.html.twig' %} {% endembed %}
    {% endfor %}
    <!-- end notifications -->
    <hr class="noti-separator">
    <small class="small-clean-text removeAllNotificationsBtn" id="removeAllNotificationsBtn">
        Изчистване на всички
    </small>

{% else %}
    <span class="alert alert-success fat-text"
          style="position:absolute; top:0; left: 0; right: 0; bottom: 0; height: 100%; padding: 0px; margin: 0 auto; display: flex; align-items: center; justify-content: center; font-size: 1.3em;"> Нямате известия!
    </span>
    <style>
        #hidden-noti-bar{
            overflow: hidden;
        }
    </style>
{% endif %}