{% extends  'base.html.twig' %}

{% block title %} Профил {% endblock %}

{% block stylesheets %}
    <link type="text/css" rel="stylesheet" href="{{ asset('styles/themes/css/form-main.css') }}">
{% endblock %}

{% block  body %}


    {% include 'template-parts/banner-generic.html.twig' with {'pageTitle':"Профил"} %}

    <div class="main-content clearfix">
        <section class="section">
            <div class="alert alert-info">
                <h4>Потр. име:
                    <small>{{ app.user.username }}</small>
                    , дата на регистраия:
                    <small>{{ app.user.getRegisterDateAsString }} </small>
                </h4>
                <h4>Email адрес:
                    <small>{{ app.user.email }}</small>
                </h4>
            </div>
        </section>

        <section class="section">
            <h2>Адреси за доставка:</h2>
            <hr>
            <div class="alert alert-info">
                {% for address in addresses %}
                    {% include  'user-related/templates/display-address.html.twig' with {'address':address} %}
                {% endfor %}
            </div>
        </section>

    </div>

{% endblock %}