{% extends  'base.html.twig' %}

{% block title %} Забравена парола {% endblock %}

{% block  body %}

    {% include 'template-parts/banner-generic.html.twig' with {'pageTitle':"Забравена парола"} %}

    <div class="main-content clearfix">
        {% embed 'template-parts/error-success-pair.html.twig' %} {% endembed %}
        <div class="span4">
            {% if isCodeValid %}
                <form method="post" enctype="multipart/form-data" action="{{ path('recovery_commit_code', {'code':code}) }}">
                    <div>
                        <input required type="password" placeholder="Нова парола" name="new-password">
                    </div>
                    <div>
                        <input required type="password" placeholder="Потвърждаване на парола" name="conf-password">
                    </div>
                    <button type="submit" class="btn btn-default">Запазване</button>
                </form>
            {% else %}
                <h5>Въведете код</h5>
                <form>
                    <div>
                        <input type="text" required name="username" placeholder="Потр. име">
                        <input type="text" required name="code" placeholder="Код">
                    </div>
                    <button type="submit" class="btn btn-default">Въведи</button>
                </form>
            {% endif %}
        </div>
    </div>

{% endblock %}
