{% extends 'base.html.twig' %}

{% block title %} Сибирско Здраве Монтана - Видеа {% endblock %}


{% block body %}
    <div class="main-content">
        <div class="row">
            <div class="span9">
                <h1>Видео</h1>
                <p>Видео Корпорация "Сибирско Здраве"<br></p>
                <p>
                    <iframe src="https://www.youtube.com/embed/5IwFDitt3Do" width="640" height="360"
                            frameborder="0"></iframe>
                </p>
                <p><br></p>
               <!-- <p>
                    <iframe src="https://www.youtube.com/embed/mJmdtebU4Y8" width="640" height="360"
                            frameborder="0"></iframe>
                </p>-->
                <p><br></p>
                <p>
                    <iframe src="https://www.youtube.com/embed/aGXdEzAty54" width="640" height="360"
                            frameborder="0"></iframe>
                    <br></p>

            </div>
            <div class="span3 col">
                {% embed 'template-parts/randomizer.html.twig' %} {% endembed %}
                {% embed 'template-parts/best-sellers.html.twig' %} {% endembed %}
            </div>
        </div>
    </div>
{% endblock %}